<!-- Container (About Us Section) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">ABOUT US</h3>
    <ul class="list-group">
      Anointed Cleaning Service, Inc. operated building maintenance company for more than 25 years. Those years of solid experience founded and operated by one owner has made anointed the premier commercial Nationwide cleaning services company in the Minneapolis. For over 25 years our moto remains the same.
      <li>Be honest and do the right thing</li>
      <li>Excel with customers</li>
       <li>Help people develop</li>
        <li>Grow by constantly improving, innovating and meeting all commitments</li>
		</ul>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/interior_zpsomczcpuc.png" alt="Paris" width="400" height="300">
          <p><strong>Performance</strong></p>
          <p>For outstanding performance</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Call Anointed</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://i1175.photobucket.com/albums/r623/saheedsalam/saba-images/city_zpsvsoenhzt.jpg?t=1451515465" alt="New York" width="400" height="300">
          <p><strong>Excellence</strong></p>
          <p>For excellent services</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Call Anointed</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://media-cdn.tripadvisor.com/media/photo-s/00/12/bd/97/mall-of-america.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Integrity</strong></p>
          <p>When Integrity is at stake</p>
          <button class="btn" data-toggle="modal" data-target="<%= link_to "Call Anointed", new_contact_path %></button>
        </div>
      </div>
    </div>
  </div>

